# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# IDE files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pytest cache
.cache

# Local development files
*.env
*.local
*.pyenv

# Python virtual environments
*.venv
